<p>
	O dicionário Oxford define mentor como sendo "um conselheiro sábio e confiável de uma pessoa inexperiente". Por analogia, o termo Mentoring pode ser compreendido como monitoria, ou seja, prática de orientar, aconselhar e apontar direções.
</p>

<p>
	O objetivo da ALItech no processo de Mentoring é levar conhecimento para as organizações através do processo de aprendizado no qual são mostrados os caminhos e as melhores práticas do processo de Desenvolvimento de Software Orientado a Objetos (UML e Java EE), Portais Corporativos de Informação (EIP), e Business Intelligence (BI).
</p>

<p>
	A ALItech disponibiliza consultores capacitados para o acompanhamento dos profissionais das organizações no desenvolvimento de um projeto piloto, utilizando ferramentas e tecnologias apresentadas nos treinamentos. Seu objetivo é solidificar os conceitos aprendidos através do uso efetivo do Mentoring aportado.
</p>