<div class="container">
	<div id="landing">
		<div class="inner">
			<div class="container">
				<div id="myCarousel" class="carousel">
					<div class="carousel-inner">
						<ul>
							<li>
								<%= image_tag("banner1.jpg",  :size=>'110x85', :alt =>'Thumbnail') %>
							</li>
							<li>
								<%= image_tag("banner2.jpg",  :size=>'110x85', :alt =>'Thumbnail') %>
							</li>
							<li>
								<%= image_tag("banner3.jpg",  :size=>'110x85', :alt =>'Thumbnail') %>
							</li>
							<li>
								<%= image_tag("banner4.jpg",  :size=>'110x85', :alt =>'Thumbnail') %>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
