<section class="row">
	<div class="span9">
		<div class="row">
			<article class="span3">
				<figure>
					<%= image_tag("banner4.jpg",  :size=>'220x275') %>
					Seja um investidor
				</figure>
			</article>
			<article class="span3 offset1">
				<figure>
					<%= image_tag("banner3.jpg",  :size=>'220x275') %>
					Cadastre sua ideia
				</figure>
			</article>
		</div>
	</div>
</section>

<section class="row">
	<article class="span7">
		<p>
			Com agilidade e qualidade, transformamos sua ideia em uma solução implementada e funcional.
		</p>
		<p>
			Atuando com desenvolvimento de aplicações para ambiente WEB, utilizamos o que o mundo tem de melhor para neste segmento.
		</p>
		<p>
			Robustez com sistemas coorporativos com tecnologia Java / Jaguar,
			Agilidade com aplicações em Ruby on Rails e,
			Versatilidade com a adoção de tecnicas modernas de (CSS e HTML5)
			Celulas produtivas garantem a interação direta com a sua necessidade.
		</p>
	</article>
	>
</section>