<% if @pagina_principal = "S" %>
<div id="landing">

	<div class="inner">

		<div class="container">

			<div class="row">

				<div class="span4 landing-text">
					<h1>Incluir o Banner</h1>
				</div>
				<!-- /landing-text -->
			</div>
			<!-- .row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /inner -->
</div>
<!-- /landing -->
<% end %>