<p>
	A ALItech está fisicamente em Belo Horizonte, MG.
</p>

<p>
	A cultura que a ALItech pretende adotar e um clima agradável de relacionamento,
	também imprime um perfil empreendedor e inovador, dispostos a oferecer aos clientes soluções direcionadas aos seus negócios.

</p>

<p>
	As oportunidades de trabalho na ALItech estão ligadas às áreas de desenvolvimento de software Java, Ruby on Rails
	construção de produtos de software, treinamento e consultoria.
</p>