<p>
	A ALItech é o resultado da associação entre quatro profissionais, que alia experiência em desenvolvimento
	de sistemas para grandes empresas e o conhecimento de novas tecnologias, com o objetivo de atender seus clientes
	e parceiros de forma diferenciada.
</p>
<p>
	Temos um grande comprometimento em soluções tecnológicas,
	que podem ajudar a preservação do meio ambiente.
</p>
<p>
	Com a vivência e participações em vários projetos, identificamos
	a necessidade de atender ao mercado como um time, pois sabemos que podemos suprir as necessidades que o mesmo precisa
	na parte de inovação e desenvolvimento de software.

</p>
<p>
	Decidimos então criar a empresa com esse objetivo, de ser competitiva no mercado,
	ajudar na preservação do meio ambiente e buscar a satisfação de nossos cliente.
</p>
<p>
	Inovar atendendo as necessidades de empresas e da comunidade tecnológica, superando as expectativas através da excelência de
	nossos produtos e serviços, investindo em tecnologia e no aprimoramento constante de nossos colaboradores,
	tornando-se um referencial em inovação e sustentabilidade.
</p>
