/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
.mail {
	margin: 0;
}

.espaco {
	padding-bottom: 10px;
}

.margem span {
	margin-left: 18px;
}

.margem1 {
	margin-left: 50px;
}

.feature-stile {
	list-style: none;
}

.feature-content {
	border: rgb(192, 202, 189) 1px solid;
	padding-left: 5px;
} 

#footer-copyright, #footer-terms {
	color: #FFFFFF;
	text-align: center;
}